.back {
	background-color:#233d4d !important;
}

img{
  width: auto;
  margin: auto;
  display: block;
  border: 2px solid #fff;
}

.uno{
	color: #000000;
}
.dos{
	color: #454948;
}

.parrafo{
	font-family: Libre3  !important;
	color: #ffffff;
}