.back {
	background-color:#233d4d !important;
}

.uno{
	color: #000000;
}
.dos{
	color: #454948;
}

.parrafo{
	font-family: Libre3  !important;
	color: #ffffff;
}

.fixed{
	height: 60% !important;
	background-color:#fcca46 !important;
	font-family: Libre2  !important;

}

.nofixed{
	background-color:#fe7f2d !important;
	font-family: Libre2  !important;
	height: 80% !important;

}